<div class="container-description">
  <!--TITLE-->
  <h1 class="description-title text-center">Vytvorte popis Vášho problému</h1>
  <hr>
  <div class="row container">
    <!-- <div class="alert alert-danger">
      <p> Opat treba vymysliet popis pre zakaznika, aby vedel co treba a co netreba vyplnit.</p>
    </div> -->
    <ng-template [ngIf]="displayDescriptionSection">
      <div class="form-group description-form price-wrapper" [@fadeInOut]>
        <label for="subCategory">Odhadovaná cena:</label>
        <div class="service-price">
          <p>{{price}}</p>
        </div>
      </div>
    </ng-template>
  </div>

  <!--DESCRIPTION FORM-->
  <form #descriptionForm="ngForm">
    <div class="category">
      <div class="description-margin">
        <h4>Kategória:</h4>
      </div>

      <!--CATEGORIES-->
      <div class="row m-auto">
        <div class="cat-wrapper" *ngFor="let category of categories; let ind = index">
          <label for="categoryType{{ind}}">{{category.categoryName}}</label>
          <input type="radio" name="radio" id="categoryType{{ind}}" class="option-input radio" [value]="category.categoryType" (click)=showCategory([category.categoryType])/>
        </div>
      </div>

      <hr>

      <!--SUBCATEGORIES-->
      <div class="subCategoriesContainer container">
        <ng-template [ngIf]="displaySubCategorySection">
          <div class="description-margin row" [@fadeInOut]>
            <h4>Druh problému:</h4>
          </div>
        </ng-template>
        <div class="row col-md-12 categoryType{{category.categoryType}}" *ngFor="let category of categories; let ind = index">
          <ng-template [ngIf]="category.categoryType == displayCategory">
            <div class="subcategory col-md-4 p-l-0" *ngFor="let subCategory of category.orderSubCategories" [@fadeInOut]>
              <input type="radio" class="option-input radio" name="subRadio" id="subcategory{{subCategory.orderSubCategoryID}}" [value]="subCategory.subCategoryName"
                (click)=showSubCategory([subCategory.subCategoryName])/>
              <label class="subcategoryLabel" for="subcategory{{subCategory.orderSubCategoryID}}">{{subCategory.subCategoryName}}</label>
            </div>
          </ng-template>
        </div>
      </div>
      <ng-template [ngIf]="displaySubCategorySection">
        <hr>
      </ng-template>
    </div>

    <!--SUBCATEGORY DESCRIPTION-->
    <!-- <div class="subCategory-description">
      <div class="categoryType{{category.categoryType}}" *ngFor="let category of categories; let ind = index">
        <div class="row" *ngFor="let subCategory of category.orderSubCategories">
          <ng-template [ngIf]="subCategory.subCategoryName == displaySubCategory">
            <div class="alert alert-info categoryInfo" [@fadeInOut]>
              <strong>{{subCategory.subCategoryName}}</strong> Indicates a neutral informative change or action.
            </div>
          </ng-template>
        </div>
      </div>
    </div> -->


    <!--DESCRIPTION SECTION-->
    <div *ngIf="displayDescriptionSection" class="description-wrapper">
      <div class="description-reminder">
        <h5>Prosíme vyplňte aspoň jednu z nizšie uvedenných kategorií:</h5>
      </div>

        <div class="description-attachments" [@fadeInOut]>
          <!--DESCRIPTION-->
          <div class="description-wrapper">
            <div class="description-switch-wrapper">
              <label for="description-attachment-switch">Pridať popis problému:</label>
              <ui-switch class="description-toggle" color="#4696e5" [(ngModel)]="addDescription" name="addDescription" size="small"></ui-switch>
            </div>
            <div class="description-container" *ngIf="addDescription" [@fadeInOut]>
              <textarea class="description-text" id="description" rows="6" cols="95" placeholder="Stručne popíšte Váš problém" [(ngModel)]="orderModel.description"
                name="orderModel.description">
          </textarea>
              <hr>
            </div>
          </div>

          <!--ATTACHMENTS-->
          <div class="description-image-wrapper">
            <div class="description-switch-wrapper">
              <label for="description-switch">Pridať fotku</label>
              <ui-switch class="description-toggle" color="#4696e5" [(ngModel)]="addAttachment" name="addAttachment" size="small"></ui-switch>
            </div>
            <div class="attachment-container" *ngIf="addAttachment" [@fadeInOut]>
              <app-image-upload></app-image-upload>
            </div>
          </div>
        </div>

    </div>
  </form>
  <!--END DESCRIPTION FORM-->

  <!--NAVIGATION BUTTONS-->
  <div class="stepper-actions">
    <a class="btn btn-default btn-md btn-simple mbn" (click)="back()">Spať</a>
    <a class="btn btn-info btn-md btn-simple pull-right mbn" (click)="continue()">Pokračovať</a>
  </div>
</div>