<div class="container clearfix">
  <div class="row flex-center">
    <a class="btn btn-secondary btn-large info-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2042">Prihlásenie</a>
    <a class="btn btn-secondary btn-large info-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2276">Späť na úvod</a>
  </div>
  <div class="row underline-text">
  </div>
  <div class="row flex-center">
    <p class="category-info-text">Populárne služby</p>
  </div>
  <div class="row flex-center">
    <a class="btn btn-secondary btn-small category-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2042">Menšie domáce opravy</a>
    <a class="btn btn-secondary btn-small category-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2276">Montáž &amp; inštalácia</a>
    <a class="btn btn-secondary btn-small category-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2030">Skladanie nábytku</a>
    <a class="btn btn-secondary btn-small category-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2247">Stahovanie &amp; balenie</a>
    <a class="btn btn-secondary btn-small category-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2003">Upratovanie</a>
    <a class="btn btn-secondary btn-small category-btn" href="/tasks/a/form?form_referrer=homepage_tags&amp;task_template_id=2061">Práca na dvore</a>
  </div>
</div>