.btn-secondary, .btn-secondary:visited{
     color: #5091da; 
     border: 1px solid #5091da; 
     background-color: white; 
}
.btn-secondary:hover{
     border: 1px solid #5091da; 
     background-color: #5091da; 
     color: white;
}

a, .link {
    color: #5091da;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

.btn {
    font-weight: normal;
    color: #545e69;
    border: 1px solid #b1b9c3;
    background-color: white;
    outline: none;
    cursor: pointer;
    -webkit-transition-property: color, border-color, box-shadow;
    transition-property: color, border-color, box-shadow;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.16s;
    transition-duration: 0.16s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info-btn {
    font-size: 1.55rem;
    margin-left: 4px;
    text-transform: none;
}

.category-btn {
    font-size: 1.20rem;
    margin-left: 4px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.underline-text {
    content: " ";
    display: block;
    width: 40%;
    height: 2px;
    margin: 20px auto 20px;
    background: #5091da;
}

.category-info-text{
    text-transform: uppercase;
    color: #5091da;
    margin-bottom: 1.25%;
}
