<header id="header" class="header" [class.fixed]="navIsFixed">
  <div class="sticky-wrapper" *ngIf="navIsVisible" [@fadeInOut]="navIsVisible">
    <div role="navigation" class="navbar navbar-default">

      <div class="container">

        <div class="navbar-header">
          <a pageScroll href="#text" class="navbar-brand scroll-to">
            <img [class.logoAdjust]="!navIsFixed" src="../../../images/home/img/logo.png" alt="">
          </a>
        </div>

        <!-- PUBLIC -->
        <div class="navbar-collapse navbar-right fa categories" *ngIf="!isPrivate" [class.navTransparent]="!navIsFixed">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a pageScroll href="#about-us">Prečo Sme Tu</a>
            </li>
            <li>
              <a pageScroll href="#text">Ako to funguje</a>
            </li>
            <li>
              <a pageScroll href="#services">Služby</a>
            </li>
            <li>
              <a pageScroll href="#team">Pracanti</a>
            </li>
          </ul>
        </div>

        <!-- PRIVATE -->
        <div class="navbar-collapse navbar-right fa logout" *ngIf="isPrivate">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <!-- <a (click)="logOutModal.open()">Odhlásiť sa</a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- log out modal -->
<modal #logOutModal [hideCloseButton]="true" class="logOutModal">
  <modal-header>
  </modal-header>
  <modal-content>
    <h6 class="text-center">Ste si istý, že sa chcete odhlásiť?</h6>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="logOut()">Potvrdiť</button>
    <button class="btn btn-primary" (click)="logOutModal.close()">Zrušiť</button>
  </modal-footer>
</modal>