<div role="navigation" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="#intro" class="navbar-brand scroll-to">
        <img src="../../../images/home/img/logo.png" alt="">
      </a>
    </div>
    <div id="navigation" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logOutModal.open()">Odhlásiť sa</a></li>
      </ul>
    </div>
  </div>
</div>

    <!-- log out modal -->
  <modal #logOutModal [hideCloseButton]="true" class="logOutModal">
      <modal-header>
      </modal-header>
      <modal-content>
        <h6>Ste si istý, že sa chcete odhlásiť?</h6>
      </modal-content>
      <modal-footer>
          <button class="btn btn-primary" (click)="logOut()">Potvrdiť</button>
          <button class="btn btn-primary" (click)="logOutModal.close()">Zrušiť</button>
      </modal-footer>
  </modal>
