.upload-btn-label{
    padding: 0;
    font-size: 1.0em;
}

input[type="file"] {
    display: block;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.img-row {
    display: inline-block;
  }
  
.img-frame {
    margin: 10px;  
    border: 5px solid #fff;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    max-width: 150px;
    max-height: 150px;
}

.img-frame:hover, .img-frame:focus, .img-frame:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.img-attachment{
    display: block;
}
.img-delete-icon{
    cursor: pointer;
    font-size: 125%;
    margin-left: 43%
}

.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile{
  pointer-events: none;
}

.imgAddBtn {
    background-color: white; 
    color: black; 
    border-radius: 14px;
}

.imgAddBtn:hover{
    background-color: #4696e5;
    color: white;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.imgAddBtn:hover label{
    color: white;
    cursor: pointer;
}

button {
    margin-top: 15px;
}