<div>
  <button type="button" class="btn btn-default btn-md btn-simple mbn">
    <label for="imgadd"><span>Kliknutim vyberte fotku</span></label>
  </button>
  <input class="inputfile" id="imgadd" name="imgadd" type="file" accept="image/*" (change)="changeListener($event)">
</div>

<div class="column has-text-centered">
  <div class="img-row" *ngFor="let image of _albums; let i=index">
    <div class="img-attachment">
      <img class="img-frame" [src]="image.thumb" [name]="image.caption" (click)="open(i)" />
      <i class="img-delete-icon fa large fa-trash" aria-hidden="true" (click)="removeImg($event)"></i>
    </div>
  </div>
</div>