.sebm-google-map-container {
			height: 300px;
            filter: grayscale(100%) ;
		}

.fixed {        
    position: fixed;
    top: 0% 
    }

.about {
    padding-top: 40px;
}    

.last-section-gray{
    background: #f4f4f4;
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
}