<a (click)="backToIndex()" class="back-to-top" style="display: inline">
  <i class="fa fa-arrow-circle-left"></i>
</a>

<section class="service-category-header">
  <div class="service-category-detail" [ngStyle]="{ 'background-image': 'url(' + back + ')'}">
    <!-- <img src="../../../../images/OccupationImages/1.png" alt="Image" class="img-fluid"> -->
  </div>
</section>

<header class="service-category-name">
  <h2>{{selectedCategory.categoryName}}</h2>
  <h4> Populárne služby</h4>
</header>

<section class="service-category-content">
  <div class="container-fluid service-catergory-container">
    <div class="service-category-group">
      <div class="row service-category-row">
        <div class="col-sm-4 col-sm-6" *ngFor="let subCategory of subCategoriesToDisplay; let ind = index">
          <div class="box box-services" (click)='createOrderWithCategory()'>
            <div class="icon">
              <!-- <img src="../../../images/OccupationImages/builder.png"><img> -->
              <h4 class="heading-description-services">{{subCategory.subCategoryName}}</h4>
              <!-- <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-others" *ngIf="subCategoriesForDropDown.length > 0">
  <hr>
  <h4>Dalsie sluzby</h4>
  <select class='btn btn-default dropdown-toggle select-option' required [(ngModel)]='optionSelected' (ngModelChange)='optionSelected1($event)'>
    <option class='option btn btn-default' *ngFor="let sub of subCategoriesForDropDown; let i = index" [value]="sub.orderSubCategoryID">
      {{sub.subCategoryName}}
    </option>
  </select>

</section>

<hr>

<section>
  <div class="row img-preview">
    <app-light-box class="img-preview-box text-center" [albums]="_albums"></app-light-box>
  </div>
</section>