<!-- <div class="intro-wrapper-123">

  <div class="intro-img" style="max-height: 750px;">
    <img src="../../../images/Index/index.png" alt="" style="width:100%; height:100%; padding: 0; display:block; z-index: 0;">
    <div class="intro-desc">
      <img src="'../../../images/Index/logo.png">
      <nav class="intro-nav" id="introNav">
        <ul>
          <li>
            <a class="opt" pageScroll href="#hiw-scrt">Ako to funguje</a>
          </li>
          <li>
            <a class="opt" pageScroll href="#services">Služby</a>
          </li>
          <li>
            <a (click)="login()">Prihlásenie</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div> -->

<div class="intro-wrapper" id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <span class="avatar">
        <img src="../../../images/Index/logo.png" alt="">
      </span>
      <p class="info-desc text-center">Nie každý má vždy možnosť pomôcť si sám <br> Sme partia mladých ľudí, ktorá má rovnaký cieľ - pomáhať tým, ktorí to potrebujú
        Hľadáme riešenia, radíme, pomáhame priamo na mieste
      </p>
    </header>

    <footer>
      <a pageScroll href="#hiw-scrt" class="button scrolly">Dozvedieť sa viac</a>
    </footer>
  </section>

</div>