<div class="confirmation-container container">
  <!--TITLE-->
  <h1 class="description-title">Potvrdenie</h1>
  <hr>
  <!--CONFIRMATION FORM-->
  <div class="row price-wrapper">
    <label for="subCategory">Odhadovana cena:</label>
    <div class="service-price">
      <p>{{_orderModel.price}}</p>
    </div>
  </div>
  <section>
    <form (ngSubmit)="process()" #confirmationForm="ngForm">
      <div class="col-md-6 contact-details-info">
        <label for="firstname">Meno: </label>
        <input type="text" name="firstname" [readonly]="true" [(ngModel)]="_orderModel.firstName" #firstName="ngModel">
      </div>
      <div class="col-md-6 contact-details-info">
        <label for="lastName">Priezvisko: </label>
        <input type="text" name="lastName" [readonly]="true" [(ngModel)]="_orderModel.lastName" #lastName="ngModel">
      </div>

      <div class="col-md-12 contact-details-info">
        <label for="address">Adresa: </label>
        <input type="text" name="address" [readonly]="true" [(ngModel)]="_orderModel.address" #address="ngModel">
      </div>

      <div class="col-md-12">
        <div class="col-md-6 contact-details-info cd-left">
          <label for="contactNumber">Telefonne cislo: </label>
          <input type="text" name="contactNumber" [readonly]="true" [(ngModel)]="_orderModel.contactNumber" #contactNumber="ngModel">
        </div>
        <div class="col-md-6 contact-details-info cd-right">
          <label for="email">Emailova adresa: </label>
          <input type="text" name="email" [readonly]="true" [(ngModel)]="_orderModel.email" #email="ngModel">
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6 contact-details-info cd-left">
          <label for="category">Kategoria: </label>
          <input type="text" name="category" [readonly]="true" [(ngModel)]="_orderModel.category" #category="ngModel">
        </div>
        <div class="col-md-6 contact-details-info cd-right">
          <label for="subCategory">Pod kategoria: </label>
          <input type="text" name="subCategory" [readonly]="true" [(ngModel)]="_orderModel.subCategory" #subCategory="ngModel">
        </div>
      </div>

      <div class="col-md-12 mb20 contact-details-info">
        <label for="description">Popis problemu: </label>
        <input type="text" name="description" [readonly]="true" [(ngModel)]="_orderModel.description" #description="ngModel">
      </div>

      <div class="col-md-12 stepper-actions">
        <button type="submit" class="btn btn-secondary btn-large info-btn confirm-btn" [disabled]="!confirmationForm.form.valid">Potvrdiť</button>
      </div>

    </form>
  </section>
</div>