.description-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

input, .input-control {
    margin-bottom: 15px;
}

.container {
    width: 83%;
    margin: auto;
    display: grid;
}

.price-wrapper .service-price{
    font-size: 3rem;
}

.btn-secondary, .btn-secondary:visited{
    color: #5091da; 
    border: 1px solid #5091da; 
    background-color: white; 
}

.btn-secondary:hover{
    border: 1px solid #5091da; 
    background-color: #5091da; 
    color: white !important;
}


.info-btn {
   font-size: 1.55rem;
   text-transform: none;
}

.confirm-btn{
    width: 40%;
    text-align: center;
    margin: auto;
}

.stepper-actions{
    margin-top:  15px;
    display: flex;
}

.contact-details-info label {
    width: 120px;
}

.contact-details-info input {
    width: 275px;
}

.cd-textarea {
    width: 100%;
}

@media screen and (max-width: 475px) {
    .description-title {
      margin: 0;
      font-size: 17px;
    } 
  }