<div class="contact-details-container">
  <!--TITLE-->
  <h1 class="description-title text-center">Prosíme vyplňte kontaktné informácie</h1>
  <hr>

  <!--CONTACT FORM-->
  <div class="cd-wrapper">
    <form (ngSubmit)="continue()" #contactForm="ngForm" class="m-auto">
      <div class="details m-auto">
        <div class="wrapper">
          <div class="contact-details-info">
            <label for="firstname">Meno: </label>
            <input type="text" name="firstname" required [(ngModel)]="_orderModel.firstName" #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine" class="error">
              Prosíme vyplňte meno kontaktnej osoby!
            </div>
          </div>
          <div class="contact-details-info">
            <label for="lastName">Priezvisko: </label>
            <input type="text" name="lastName" required [(ngModel)]="_orderModel.lastName" #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine" class="error">
              Prosíme vyplňte priezvisko kontaktnej osoby!
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="contact-details-info">
            <label for="contactNumber">Telefónne číslo: </label>
            <input type="text" name="contactNumber" required [(ngModel)]="_orderModel.contactNumber" #contactNumber="ngModel">
            <div [hidden]="contactNumber.valid || contactNumber.pristine" class="error">
              Prosíme vyplňte telefonne cislo kontaktnej osoby!
            </div>
          </div>
          <div class="contact-details-info  m-b-0">
            <label for="email">Emailová adresa: </label>
            <input type="text" name="email" required [(ngModel)]="_orderModel.email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="error">
              Prosíme vyplňte emailovú adresu kontaktnej osoby!
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="contact-details-info input-control">
          <label>
          Želaný čas realizácie:
          <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" [(ngModel)]="_orderModel.orderDate" name="orderDate" style="margin-top:5px;padding: 5px;">
          <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
        </label>
        </div>
      </div>
      <hr>
      <!--NAVIGATION BUTTONS-->
      <div class="stepper-actions">
        <a class="btn btn-default btn-md btn-simple mbn" role="button" (click)="back()">Spať</a>
        <button type="submit" class="btn btn-info btn-md btn-simple pull-right mbn" [disabled]="!contactForm.form.valid">Pokračovať</button>
      </div>

    </form>
  </div>
</div>