<div class="container clearfix" id="hm-about-us">
  <div class="row margin-bottom">
    <div class="col-md-6 margin-bottom text-justify">
      <h2 class="heading">Prečo Sme Tu</h2>
      <p>Každý sme neraz boli v situácii, keď sme si nevedeli s niečím poradiť - týždne a mesiace sme pokukovali po rôznych
        kúskoch nábytku, v duchu si zariaďovali a prestavovali celú obyvačku tak, aby sa nám tam nový kúsok hodil. Poctivo
        sme odkladali každé euro, aby sme si konečne v deň D išli po nový obývačkový set, keď tu zrazu panika!
      </p>

      <p>
        Kto mi to odvezie? Kto mi to vynesie do bytu? Koľko dní nad skladačkou budem plakať, kým si do tej nešťastnej police vložím
        prvú knižku?
      </p>

      <p>
        My, v Chlapskej ruke, sme tu preto, lebo pomáhať si treba. A spájať sa...Spojili sme preto naše sily a silné stránky tak,
        aby sme vám pomohli rozlúsknuť každý záludný problém doma, vo vašej záhrade, v práci, či jednoducho len ponúkli služby,
        v ktorých sme dobrí.
      </p>
    </div>
    <div class="col-md-6 margin-bottom">
      <p><img src="../../../images/home/img/questionmark.png" alt="" class="img-responsive"></p>
    </div>
  </div>
</div>