<div class="container clearfix">
  <div class="row margin-bottom">
    <div class="col-md-6 margin-bottom">
      <h2 class="heading">O nás</h2>
      <p class="lead">Sme partia mladých ľudí, ktorá má rovnaký cieľ. Pomáhať tým, ktorí to potrebujú.</p>
      <p>Nie každý má vždy možnosť pomôcť si sám alebo ma po ruke priatelov. My sme tu prave na taketo situacie. Hľadáme riešenia,
        radíme, pomáhame priamo na mieste. Dokazeme Vam pomoct s roznymi vecami ako napriklad: </p>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>Pomoct v domácnosti</li>
            <li>Zahradkarske prace</li>
            <li>Stahovanie</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li>Upratovanie priestorov</li>
            <li>Konfiguracia zariadeni v domacnosti</li>
            <li>Organizovanie volnocasovych aktivit</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 margin-bottom">
      <p><img src="../../../images/home/img/template-homepage.png" alt="" class="img-responsive"></p>
    </div>
  </div>
</div>