<div class="container" id="hiw-scrt" style="padding-top: 50px;">
    <header class="header-section">
        <h2 class="title-label">ako to funguje</h2>
        <h4 class="sub-title-label">
            <span>
                Je pre nás dôležité, aby sme spoznali, aký máte problém. Popíšete o čo sa jedná, kam vám môžeme prísť pomôcť a tiež, kedy vám to najviac vyhovuje. My sa s vami skontaktujeme, dohodneme termín pomoci, prídeme - vyriešime a vy nám za to dáte dobré hodnotenie
            </span>
        </h4>
    </header>

    <div class="how-it-works-section">
        <div class="row">
            <div class="order-step-container" *ngFor="let step of _steps; let ind = index">
                <div class="step-number-wrapper">
                    <div class="step-number">{{ind + 1}}</div>
                </div>
                <div class="step-description">
                    <div class="step-table-wrapper">
                        <div class="verticle_align">
                            <h4 class="h4">{{step.stepName}}</h4>
                            <p class="step-description-text">{{step.stepDescription}}
                            </p>

                            <p *ngIf="ind === 0" class="step-description-text form-link">
                                <a [routerLink]="['/novaPorucha/adresa']" role="link" class="fill-form-link">Vyplniť formulár</a>
                            </p>
                            <span class="step-icon-wrapper">
                          <img src="{{step.stepImgUrl}}" alt="">
                      </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>