<div class="container" id="hiw-scrt" style="padding-top: 50px;">
    <header class="header-section">
        <h2 class="title-label">ako to funguje</h2>
        <h4 class="sub-title-label">We provide the highest level of customer support and build <br>long lasting relationships with our clients in this
            4 simple steps.</h4>
    </header>

    <section class="how-it-works-section">
        <div class="order-step-container" *ngFor="let step of _steps; let ind = index">
            <div class="step-number-wrapper">
                <div class="step-number">{{ind + 1}}</div>
            </div>
            <div class="step-description">
                <div class="step-table-wrapper">
                    <div class="verticle_align">
                        <h4 class="h4">{{step.stepName}}</h4>
                        <p class="step-description-text">{{step.stepDescription}}</p>
                        <span class="step-icon-wrapper">
                          <img src="{{step.stepImgUrl}}" alt="">
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>