<div class="container clearfix content-how-it-works">
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading">Ako to funguje ?</h2>

     <div class="row">
      <div class="how-it-works step_1">
        <img alt ="Krok 1" class="how-it-works-img" src="../../../images/DescriptionImages/placeholder128.png">
        <div class="how-it-works-content content-left">
          <div class="how-it-works-label">1</div>
          <div class="how-it-works-name">Zadáte adresu</div>
          <div class="how-it-works-description">Pre expresné vybavenie vášho problému potrebujeme presne vedieť na akej adrese potrebujete pomocť.</div>
        </div>  
      </div>
     </div>
     
     <div class="row">
      <div class="how-it-works step_2">
        <img alt ="Krok 2" class="how-it-works-img" src="../../../images/DescriptionImages/edit128.png">
        <div class="how-it-works-content content-right">
          <div class="how-it-works-label">2</div> 
          <div class="how-it-works-name">Vyberiete druh problému</div>
          <div class="how-it-works-description">Vybrať si môžete z rôznych domácich prác a taktiež vybrať deň a čas kedy Vám najviac vyhovuje návšteva remeselníka.</div>
        </div>  
      </div>
     </div>

     <div class="row">
      <div class="how-it-works step_3">
        <img alt ="Krok 3" class="how-it-works-img" src="../../../images/DescriptionImages/clock128.png">
        <div class="how-it-works-content content-left">
          <div class="how-it-works-label">3</div>
          <div class="how-it-works-name">Vyberiete si remeselníka</div>
          <div class="how-it-works-description">Naša databáza obsahuje mnoho šikovných remeselníkov. Vy si možete vybrať pre Vás toho najsimaptickejšieho, alebo si nechať poradiť na základe hodnotení od našich používateľov.</div>
        </div>  
      </div>
     </div>

     <div class="row">
      <div class="how-it-works step_4">
        <img alt ="Krok 4" class="how-it-works-img" src="../../../images/DescriptionImages/success128.png">
        <div class="how-it-works-content content-right">
          <div class="how-it-works-label">4</div>
          <div class="how-it-works-name">A už len počkáte na príchod remeslníka</div>
          <div class="how-it-works-description">Remeselník sa dostaví na vami uvedenú adresu v stanovenom čase a termine. Po vykonaní všetkých potrebných úkonov a uspokojení zadanej úlohy, môže prísť ku platbe.</div>
        </div>  
      </div>
     </div>

    </div>
  </div>
</div>
