<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading">Nasi Pracanati</h2>
      <div class="row"></div>
      <!-- team-member-->
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="image"><a href=""><img src="../../../images/TeamMembers/Kiko.png" alt="" class="img-responsive"></a></div>
          <h3><a href="">Kristian Berecz</a></h3>
          <div class="social">
            <a href="https://www.facebook.com/kristianberecz?fref=ts" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- team-member col end-->
      <!-- team-member-->
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="image"><a href=""><img src="../../../images/TeamMembers/Sona.jpg" alt="" class="img-responsive"></a></div>
          <h3><a href="">Soňa Koreňová</a></h3>
          <div class="social">
            <a href="https://www.facebook.com/sona.korenova?fref=ts" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- team-member col end-->
      <!-- team-member-->
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="image"><a href=""><img src="../../../images/TeamMembers/Vlado.jpg" alt="" class="img-responsive"></a></div>
          <h3><a href="#">Vladimír Gregor</a></h3>
          <div class="social">
            <a href="https://www.facebook.com/vladimir.gregor.3?fref=ts" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- team-member col end-->
      <!-- team-member-->
      <div class="col-md-3 col-sm-6">
        <div class="team-member">
          <div class="image"><a href=""><img src="../../../images/TeamMembers/Mato.jpg" alt="" class="img-responsive"></a></div>
          <h3><a href="">Martin Neradovič</a></h3>
          <div class="social">
            <a href="https://www.facebook.com/martin.neradovic.7?fref=ts" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- team-member col end-->
    </div>
  </div>
</div>