<!-- <div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailAddress.valid }">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailAddress.valid }">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
      <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailAddress.valid }">
      <label for="emailAddress">Email Address</label>
      <input type="text" class="form-control" name="emailAddress" [(ngModel)]="model.emailAddress" #emailAddress="ngModel" required />
      <div *ngIf="f.submitted && !emailAddress.valid" class="help-block">Email Address is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
      <a [routerLink]="['/prihlasenie']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div> -->


<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url('../../../../images/Login/bg.png');">
        <span class="login100-form-title-1">
          Registrácia
        </span>
      </div>

      <form class="login100-form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

        <div class="wrap-input100 validate-input m-b-26" [ngClass]="{ 'has-error': f.submitted && !emailAddress.valid }">
          <span class="label-input100">Emailová Adresa</span>
          <input class="input100" type="text" name="emailAddress" [(ngModel)]="model.emailAddress" #emailAddress="ngModel" required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
          <span class="focus-input100"></span>
        </div>
        <div *ngIf="f.submitted && !emailAddress.valid && !emailAddress.errors.pattern" class="help-block"> Prosíme zadajte platnú emailovú adresu</div>
        <div *ngIf="f.submitted && emailAddress.errors != null && emailAddress.errors.pattern" class="help-block"> Emailová adresa ma nesprávny formát</div>

        <div class="wrap-input100 validate-input m-b-40" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <span class="label-input100">Heslo</span>
          <input class="input100" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <span class="focus-input100"></span>
        </div>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Prosíme zadajte heslo</div>

        <div class="wrap-input100 validate-input m-b-40" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <span class="label-input100">Potvrdte Heslo</span>
          <input class="input100" type="password" name="password" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required
          />
          <span class="focus-input100"></span>
        </div>
        <div *ngIf="f.submitted && password.value !== confirmPassword.value" class="help-block">Heslá sa nezhodujú</div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Zaregistrovať sa
          </button>
          <button class="login100-form-btn m-l-25" [routerLink]="['/prihlasenie']">
            Späť
          </button>
        </div>
      </form>

      <div *ngIf="!!errorMessages" class="register-error-messages">
        <div class="error-message" *ngFor="let error of errorMessages">
          {{error.description}}
        </div>
      </div>

    </div>
  </div>
</div>