<div class="container clearfix">
  <div class="service-boxes-wrapper row clearfix">
    <!--SERVICE1-->
    <div class="service-box-container fadeDown animated fadeInDown" style="visibility: visible;">
      <div class="service-box service-box-1 clearfix">
        <div [routerLink]="['/historiaPoruch']" class="service-box-front">
          <i class="fa fa-bars fa-5" aria-hidden="true"></i>
          <div class="service-title">
            <p>História porúch</p>
          </div>
          <div class="service-content">
            <p>Cras auctor vel dui sed rhoncus.<br> Sed urna ut purus vulputate ultricies.<br> Quisque congue volutpat lorem</p>
          </div>
        </div>
      </div>
    </div>
    <!--SERVICE2-->
    <div class="service-box-container fadeDown animated fadeInDown" style="visibility: visible;">
      <div class="service-box service-box-2 clearfix">
        <div (click)="createOrder()" class="service-box-front">
          <i class="fa fa-file fa-5" aria-hidden="true"></i>
          <div class="service-title">
            <p>Nová porucha</p>
          </div>
          <div class="service-content">
            <p>Cras auctor vel dui sed rhoncus.<br> Sed urna ut purus vulputate ultricies.<br> Quisque congue volutpat lorem</p>
          </div>
        </div>
      </div>
    </div>
    <!--SERIVCE 3-->
    <div class="service-box-container fadeDown animated fadeInDown" style="visibility: visible;">
      <div class="service-box service-box-4 clearfix">
        <div class="service-box-front">
          <i class="fa fa-comments fa-5" aria-hidden="true"></i>
          <div class="service-title">
            <p>Poradenstvo</p>
          </div>
          <div class="service-content">
            <p>Cras auctor vel dui sed rhoncus.<br> Sed urna ut purus vulputate ultricies.<br> Quisque congue volutpat lorem</p>
          </div>
        </div>
      </div>
    </div>
    <!--END SERVICES-->
  </div>
</div>